

/* line 7, ../../../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 7, ../../../scss/_reset.scss */
fieldset, img {
  border: 0;
}

/* line 7, ../../../scss/_reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 7, ../../../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 7, ../../../scss/_reset.scss */
caption, th {
  text-align: left;
}

/* line 7, ../../../scss/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 7, ../../../scss/_reset.scss */
q:before, q:after {
  content: '';
}

/* line 7, ../../../scss/_reset.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 7, ../../../scss/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 7, ../../../scss/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 7, ../../../scss/_reset.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 7, ../../../scss/_reset.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 7, ../../../scss/_reset.scss */
legend {
  color: #000;
}

/* line 7, ../../../scss/_reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/* containers */
/* highlight */
/* field error */
/* form fields */
/* buttons */
/* texts */
/* arrow containers */
/* buttons */
/* line 1, ../../../scss/desktop/reg/common/_common.scss */
.js.modern .clipped {
  clip: rect(0, 0, 0, 0);
  clip: rect(0 0 0 0);
  position: absolute;
}

/* line 7, ../../../scss/desktop/reg/common/_common.scss */
.clear {
  clear: both;
}

/* line 1, ../../../scss/desktop/reg/common/_texts.scss */
h1 {
  font-size: 2em;
  font-weight: 200;
}

/* line 6, ../../../scss/desktop/reg/common/_texts.scss */
.validation-message, .password-strength {
  margin: 0.41667em 0.08333em 0;
  font-size: 0.8em;
}

/* line 11, ../../../scss/desktop/reg/common/_texts.scss */
.information {
  margin: 0.41667em 0.08333em 0;
  font-size: 1.06667em;
}

/* line 16, ../../../scss/desktop/reg/common/_texts.scss */
.banner-large {
  font-size: 1.6em;
  line-height: 1.58333em;
}

/* line 22, ../../../scss/desktop/reg/common/_texts.scss */
.banner-small {
  font-size: 1.06667em;
  line-height: 1.875em;
}

/* line 28, ../../../scss/desktop/reg/common/_texts.scss */
.banner {
  font-size: 1.2em;
}

/* line 32, ../../../scss/desktop/reg/common/_texts.scss */
.tos, .messages {
  font-size: 0.8em;
}

/* line 36, ../../../scss/desktop/reg/common/_texts.scss */
.validation-message {
  color: #cc4a4a;
}

/* line 40, ../../../scss/desktop/reg/common/_texts.scss */
#password-length, #password-contain-mixed-case, #password-contain-numbers-special {
  color: #a5a5a5;
}

/* line 44, ../../../scss/desktop/reg/common/_texts.scss */
a {
  color: #324fe1;
  text-decoration: none;
}

/* line 49, ../../../scss/desktop/reg/common/_texts.scss */
.readonly {
  color: #a5a5a5 !important;
}

/* line 29, ../../../scss/desktop/reg/common/_buttons.scss */
.button {
  margin: 0;
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 200;
  border-radius: 4px;
  padding: 0.55556em 1.11111em;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}
/* line 39, ../../../scss/desktop/reg/common/_buttons.scss */
.button:focus {
  outline: none;
}

/* line 44, ../../../scss/desktop/reg/common/_buttons.scss */
.submit {
  color: white;
  background: #400090;
  border: 1px solid #380f59;
}
/* line 48, ../../../scss/desktop/reg/common/_buttons.scss */
.submit[disabled] {
  color: #c4b6e6;
  background: #856dbc;
  border: 1px solid #7862a9;
  -webkit-opacity: 1;
  -webkit-text-fill-color: #c4b6e6;
}

/* line 57, ../../../scss/desktop/reg/common/_buttons.scss */
.cancel {
  color: #5b4ea0;
  background: #dbdef6;
  border: 1px solid #ccd0eb;
}

/* line 63, ../../../scss/desktop/reg/common/_buttons.scss */
.link {
  background: none;
  border: none;
  color: #324fe1;
  cursor: pointer;
}
/* line 68, ../../../scss/desktop/reg/common/_buttons.scss */
.link[disabled] {
  background: none;
  border: none;
  -webkit-opacity: 1;
  -webkit-text-fill-color: #000;
}

/* line 1, ../../../scss/desktop/reg/common/_icons.scss */
.icon-small {
  display: inline-block;
  background: url("../../../images/desktop/reg/sprites-new.png") no-repeat;
  background-size: 20px 61px;
  width: 21px;
  height: 10px;
  padding-left: 8px;
  padding-right: 3px;
}

/* line 15, ../../../scss/desktop/reg/common/_icons.scss */
.lt-ie7 .icon-small {
  background: none;
}

/* line 19, ../../../scss/desktop/reg/common/_icons.scss */
.tick-pass {
  background-position: 8px -10px !important;
}

/* line 23, ../../../scss/desktop/reg/common/_icons.scss */
.tick-fail {
  background-position: 8px 0 !important;
}

/* line 27, ../../../scss/desktop/reg/common/_icons.scss */
.icon-medium {
  display: inline-block;
  background: url("../../../images/desktop/reg/sprites.png") no-repeat;
  background-size: 15px 60px;
  width: 15px;
  height: 15px;
}

/* line 35, ../../../scss/desktop/reg/common/_icons.scss */
.unchecked {
  background-position: 0 -30px;
}

/* line 39, ../../../scss/desktop/reg/common/_icons.scss */
.checked {
  background-position: 0 -45px;
}

/* line 43, ../../../scss/desktop/reg/common/_icons.scss */
#mp {
  opacity: 0;
}

/* line 47, ../../../scss/desktop/reg/common/_icons.scss */
#mp + label {
  color: #a5a5a5;
}

/* line 51, ../../../scss/desktop/reg/common/_icons.scss */
#mp + label:before {
  position: absolute;
  content: '';
  display: inline-block;
  background: url("../../../images/desktop/reg/sprites.png") no-repeat;
  background-size: 15px 60px;
  background-position: 0 -30px;
  width: 15px;
  height: 15px;
  top: 3px;
  left: -8px;
}

/* line 64, ../../../scss/desktop/reg/common/_icons.scss */
#mp:checked + label:before {
  background-position: 0 -45px;
}

/* line 1, ../../../scss/desktop/reg/common/_info.scss */
.icon-wrapper {
  display: inline-block;
  width: 44px;
  height: 42px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 11px 12px;
  cursor: pointer;
}
/* line 17, ../../../scss/desktop/reg/common/_info.scss */
.icon-wrapper:focus {
  outline: none;
  background: #f6fbff !important;
}

/* line 25, ../../../scss/desktop/reg/common/_info.scss */
.lt-ie10 .icon-wrapper {
  height: 40px;
}

/* line 29, ../../../scss/desktop/reg/common/_info.scss */
.lt-ie8 .icon-wrapper {
  height: 20px;
  width: 20px;
}

/* line 34, ../../../scss/desktop/reg/common/_info.scss */
.icon {
  display: inline-block;
  background: url("../../../images/desktop/reg/sprites-new.png") no-repeat;
  background-size: 20px 61px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

/* line 43, ../../../scss/desktop/reg/common/_info.scss */
.icon-i {
  background-position: 0 -41px;
}

/* line 47, ../../../scss/desktop/reg/common/_info.scss */
.icon-wrapper:focus + .tooltip {
  display: block;
}

/* line 51, ../../../scss/desktop/reg/common/_info.scss */
.modern .tooltip {
  position: absolute;
  z-index: 10000;
  color: #fff;
  text-shadow: none;
  background: #464B56;
  width: 15.33333em;
  padding: 0.66667em;
  border-radius: 4px;
  right: -5px;
  bottom: 44px;
  display: none;
  word-wrap: break-word;
}

/* line 70, ../../../scss/desktop/reg/common/_info.scss */
.lt-ie8 .icon-wrapper, .tooltip {
  display: none;
}

/* line 76, ../../../scss/desktop/reg/common/_info.scss */
.tooltip-arrow {
  position: absolute;
  content: '';
  border: 10px solid transparent;
  border-top: 10px solid #464B56;
  bottom: -20px;
  right: 18px;
}

/* line 1, ../../../scss/desktop/reg/layout/_grid.scss */
.row {
  position: relative;
  zoom: 1;
}

/* line 6, ../../../scss/desktop/reg/layout/_grid.scss */
.center {
  text-align: center;
}

/* line 10, ../../../scss/desktop/reg/layout/_grid.scss */
.input-row {
  margin-top: 0.4em;
}

/* line 14, ../../../scss/desktop/reg/layout/_grid.scss */
.mobile-row {
  margin-top: 2em;
}

/* line 18, ../../../scss/desktop/reg/layout/_grid.scss */
.last-row {
  padding-bottom: 2em;
}

/* line 22, ../../../scss/desktop/reg/layout/_grid.scss */
.tos-row, .row-30px {
  margin-top: 2em;
}

/* line 26, ../../../scss/desktop/reg/layout/_grid.scss */
.alternative-row {
  margin-top: 0.66667em;
}

/* line 30, ../../../scss/desktop/reg/layout/_grid.scss */
.mp-row {
  margin-top: 3.6em;
}

/* line 34, ../../../scss/desktop/reg/layout/_grid.scss */
.gender-row {
  margin-top: 1.06667em;
}

/* line 38, ../../../scss/desktop/reg/layout/_grid.scss */
.password-strength {
  display: none;
}

/* line 42, ../../../scss/desktop/reg/layout/_grid.scss */
.column {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 100%;
}

/* line 48, ../../../scss/desktop/reg/layout/_grid.scss */
.margin-top-40px {
  margin-top: 2.66667em;
}

/* Name */
/* line 53, ../../../scss/desktop/reg/layout/_grid.scss */
.first-name {
  width: 49%;
}

/* line 57, ../../../scss/desktop/reg/layout/_grid.scss */
.last-name {
  width: 50%;
}

/* line 61, ../../../scss/desktop/reg/layout/_grid.scss */
.last-name-margin {
  margin-left: 1%;
}

/* line 69, ../../../scss/desktop/reg/layout/_grid.scss */
.mobile-rec {
  width: 70%;
}

/* line 73, ../../../scss/desktop/reg/layout/_grid.scss */
.relationship {
  width: 29%;
}

/* line 77, ../../../scss/desktop/reg/layout/_grid.scss */
.relationship-margin {
  margin-left: 1%;
}

/* line 85, ../../../scss/desktop/reg/layout/_grid.scss */
.code {
  width: 18%;
}

/* line 1, ../../../scss/desktop/reg/layout/_containers.scss */
.modern * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 5, ../../../scss/desktop/reg/layout/_containers.scss */
html {
  height: 100%;
}

/* line 9, ../../../scss/desktop/reg/layout/_containers.scss */
body {
  direction: ltr;
  font: 300 15px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;
  color: #343d47;
  height: 100%;
  min-height: 100%;
  min-width: 36.6em;
}

/* line 23, ../../../scss/desktop/reg/layout/_containers.scss */
.main {
  min-height: 100%;
  margin: 0 auto;
  width: 36.6em;
}

/* line 29, ../../../scss/desktop/reg/layout/_containers.scss */
.input-container {
  margin-top: 2em;
}

/* line 33, ../../../scss/desktop/reg/layout/_containers.scss */
.success-failure-wrapper {
  padding: 108px 0 47px;
}

/* line 1, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.suggestions {
  background: #fff;
  border: 1px solid #5771ff !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  z-index: 100;
  top: -4px;
  display: none;
  zoom: 1;
}

/* line 13, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.modern .suggestions {
  position: absolute;
}

/* line 17, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.suggestions li {
  font-size: 1.2em;
  color: #a5a5a5;
  padding: 0.27778em 0.55556em;
  width: 100%;
  z-index: 100;
}
/* line 22, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.suggestions li:hover {
  background-color: #5771ff;
  color: #fff;
}
/* line 26, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.suggestions li a:hover {
  color: #fff !important;
}

/* line 32, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.lt-ie8 .suggestions li {
  width: 29.44444em;
}

/* line 36, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.hovered, .hovered a {
  background-color: #5771ff;
  color: #fff !important;
}

/* line 41, ../../../scss/desktop/reg/layout/_id-suggestion.scss */
.watch-list-link {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 1, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.modern input[type='text'], .modern input[type='password'], .placeholder {
  font-size: 1.2em;
  padding: 0.55556em;
  border-radius: 4px;
  width: 100%;
}
/* line 8, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.modern input[type='text']:focus, .modern input[type='password']:focus, .modern select:focus, .placeholder:focus {
  outline: none;
  border: 1px solid #5771ff !important;
  background: #fff;
}

/* line 15, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.placeholder {
  position: absolute;
  border: 1px solid transparent;
  color: #a5a5a5;
}

/* line 21, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.lowZIndex {
  z-index: -1;
}

/* line 25, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.modern select {
  margin: 0;
  /* height: 2.44444em; */
  vertical-align: bottom;
  cursor: pointer;
}

/* line 11, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #first-name,
.lt-ie8 #last-name,
.lt-ie8 #user-name,
.lt-ie8 #password,
.lt-ie8 #mobile,
.lt-ie8 #mobile-rec,
.lt-ie8 #country-code,
.lt-ie8 #country-code-rec,
.lt-ie8 #verification-code,
.lt-ie8 #relationship,
.lt-ie8 #captcha {
  font-size: 1.2em;
  color: #000;
  padding: 0.55556em;
  border: 1px solid #ececec;
}
/* line 16, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #first-name:hover,
.lt-ie8 #last-name:hover,
.lt-ie8 #user-name:hover,
.lt-ie8 #password:hover,
.lt-ie8 #mobile:hover,
.lt-ie8 #mobile-rec:hover,
.lt-ie8 #country-code:hover,
.lt-ie8 #country-code-rec:hover,
.lt-ie8 #verification-code:hover,
.lt-ie8 #relationship:hover,
.lt-ie8 #captcha:hover {
  border: 1px solid #5771ff !important;
}

/* line 25, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #user-name,
.lt-ie8 #password,
.lt-ie8 #mobile,
.lt-ie8 #verification-code,
.lt-ie8 #captcha {
  width: 29.27778em;
}

/* line 30, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #country-code,
.lt-ie8 #country-code-rec {
  width: 30.5em;
}

/* line 34, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #mobile-rec {
  width: 20.11111em;
}

/* line 38, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #relationship {
  width: 7.66667em;
}

/* line 42, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #first-name {
  width: 13.72222em;
}

/* line 46, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #last-name {
  width: 14.02778em;
}

/* line 50, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 #verification-code {
  width: 4.27778em;
}

/* line 54, ../../../scss/desktop/reg/form-fields/_form-fields-lt-ie8.scss */
.lt-ie8 .mask {
  height: 2.88889em;
}

/* line 1, ../../../scss/desktop/reg/form-fields/_placeholder.scss */
::-webkit-input-placeholder {
  color: #a5a5a5;
  text-transform: none;
}

/* line 7, ../../../scss/desktop/reg/form-fields/_placeholder.scss */
input[type='text']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder {
  color: #a5a5a5;
  text-transform: none;
}

/* line 12, ../../../scss/desktop/reg/form-fields/_placeholder.scss */
::-moz-placeholder {
  color: #a5a5a5;
  text-transform: none;
  opacity: 1;
}

/* line 1, ../../../scss/desktop/reg/form-fields/_show-password.scss */
.show-password {
  color: #c7c7c7;
  font-size: 1.2em;
  position: absolute;
  bottom: 1px;
  background: #fff;
  right: 0.6em;
  line-height: 2.33333em;
  height: 2.33333em;
  display: none;
}

/* line 1, ../../../scss/desktop/reg/form-fields/_domain.scss */
.domain-column {
  position: absolute;
  top: 1px;
  right: 1px;
}

/* line 7, ../../../scss/desktop/reg/form-fields/_domain.scss */
.lt-ie8 .domain-column {
  position: absolute;
  top: 12px;
  right: 10px;
  height: 32px;
}

/* line 14, ../../../scss/desktop/reg/form-fields/_domain.scss */
.modern span.domain {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 1.2em;
  padding: 0.55556em;
  color: #c7c7c7;
  text-align: right;
  height: 100%;
}

/* line 1, ../../../scss/desktop/reg/form-fields/_gender.scss */
input[type='radio']:focus + label {
  background-color: #e5f0f9;
}

/* line 4, ../../../scss/desktop/reg/form-fields/_gender.scss */
.modern input[type='radio'] + label {
  position: relative;
  display: inline-block;
}

/* line 9, ../../../scss/desktop/reg/form-fields/_gender.scss */
.modern input[type='radio'] + label {
  font-size: 1.2em;
  padding: 0 0.55556em;
  color: #a5a5a5;
}

/* line 15, ../../../scss/desktop/reg/form-fields/_gender.scss */
input[type='radio']:checked + label {
  color: black;
}

/* line 27, ../../../scss/desktop/reg/form-fields/_gender.scss */
input[type='radio'] {
  opacity: 1;
  margin-left: 2px;
}

/* line 32, ../../../scss/desktop/reg/form-fields/_gender.scss */
input[type='radio'] + label::before {
  position: absolute;
  content: '';
  border-radius: 8px;
  border: 8px solid #a5a5a5;
  top: 2px;
  left: -14px;
}

/* line 45, ../../../scss/desktop/reg/form-fields/_gender.scss */
input[type='radio'] + label::after {
  position: absolute;
  content: '';
  border-radius: 7px;
  border: 7px solid #fff;
  top: 3px;
  left: -13px;
}

/* line 58, ../../../scss/desktop/reg/form-fields/_gender.scss */
input[type='radio']:checked + label::after {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
}

/* line 64, ../../../scss/desktop/reg/form-fields/_gender.scss */
input[type='radio'].error + label::before {
  border: 8px solid #e73d3d;
}

/* line 38, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.error {
  border: 1px solid #ccc !important;
}

/* line 42, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
input[type='text']::-ms-clear {
  display: none;
}

/* line 46, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.mask {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: #ececec;
  opacity: .5;
  filter: alpha(opacity=50);
}

/* line 57, ../../../scss/desktop/reg/form-fields/_form-fields.scss */
.modern .mask {
  height: 100%;
}

/* line 1, ../../../scss/desktop/reg/drop-down/_drop-down.scss */
.highlight-border {
  border: 1px solid #5771ff !important;
}

/* line 5, ../../../scss/desktop/reg/drop-down/_drop-down.scss */
.highlight-background {
  background-color: #f6fbff !important;
}

/* line 9, ../../../scss/desktop/reg/drop-down/_drop-down.scss */
.arrow-container, .domain-arrow-container, .country-lang-arrow-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1.88889em;
  padding-top: 1.11111em;
  text-align: center;
}

/* line 18, ../../../scss/desktop/reg/drop-down/_drop-down.scss */
.arrow-container {
  right: 0;
}

/* line 26, ../../../scss/desktop/reg/drop-down/_drop-down.scss */
.bottom-dd-arrow {
  display: inline-block;
  border: 6px solid transparent;
  border-top-color: #cccccc;
  line-height: 0;
  height: 0;
  width: 0;
}

/* line 1, ../../../scss/desktop/reg/drop-down/_drop-down-country-lang.scss */
.country-lang-column {
  float: right;
}

/* line 9, ../../../scss/desktop/reg/drop-down/_drop-down-country-lang.scss */
.country-lang-drop-down {
  position: absolute;
  top: 1px;
  font-size: 0.8em;
  color: #c7c7c7;
  background-color: transparent;
  padding: 0.83333em;
  right: 0;
  padding-right: 2.16667em;
  height: 100%;
  line-height: 18px;
}

/* line 27, ../../../scss/desktop/reg/drop-down/_drop-down-country-lang.scss */
.country-lang-arrow-container {
  padding-top: 1em;
  right: 0;
}

/* line 1, ../../../scss/desktop/reg/drop-down/_drop-down-domain.scss */
.domain-drop-down {
  position: absolute;
  right: 1px;
  font-size: 1.2em;
  color: #c7c7c7;
  padding: 0.55556em;
  padding-right: 1.44444em;
  background-color: transparent;
}

/* line 12, ../../../scss/desktop/reg/drop-down/_drop-down-domain.scss */
.domain-arrow-container {
  right: 0;
}

/* line 1, ../../../scss/desktop/reg/drop-down/_drop-down-birthday.scss */
.modern .birthday-wrapper {
  border: 1px solid #ececec;
  border-radius: 4px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 7, ../../../scss/desktop/reg/drop-down/_drop-down-birthday.scss */
.lt-ie8 .birthday-wrapper {
  border: 1px solid #ececec;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* line 12, ../../../scss/desktop/reg/drop-down/_drop-down-birthday.scss */
.birthday-wrapper {
  background: #fff;
}

/* line 16, ../../../scss/desktop/reg/drop-down/_drop-down-birthday.scss */
.modern .birthday-label {
  font-size: 1.2em;
  color: #a9a9a9;
  padding: 11px 11px 13px 13px; 
  background: #f0f0f0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 30, ../../../scss/desktop/reg/drop-down/_drop-down-birthday.scss */
.modern .birthday-fields-wrapper {
  height: 3em;
  width: 426px;
}

/* line 34, ../../../scss/desktop/reg/drop-down/_drop-down-birthday.scss */
.birthday-drop-down {
  position: absolute;
  top: 0;
  font-size: 1.2em;
  color: #c7c7c7;
  background-color: #fff;
  padding: 0.55556em;
  height: 100%;
  width: 100%;
  border-left: 1px solid #ececec;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 2, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.selected-country-code {
  position: absolute;
  font-size: 1.2em;
  top: 1px;
  left: 1px !important;
}
/* line 11, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.selected-country-code a {
  color: #000;
  padding: 0.55556em;
  display: inline-block;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
/* line 23, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.selected-country-code a:focus {
  outline: none;
  background-color: #f6fbff;
}

/* line 30, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.country-code-arrow-container {
  display: inline-block;
  position: relative;
  width: 15px;
}

/* line 36, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.country-code-arrow {
  display: inline-block;
  border: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  top: -7px;
  left: 5px;
}

/* line 49, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.country-codes-container {
  height: 8.88889em;
  width: 30.5em;
  overflow-y: scroll;
  position: absolute;
  display: none;
  top: 40px !important;
  left: -1px !important;
  background: #fff;
  z-index: 200;
  border: 1px solid #5771ff !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 66, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.country-codes-container li {
  font-size: 1em;
  color: #a5a5a5;
  width: 100%;
}
/* line 71, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.country-codes-container a {
  color: #a5a5a5;
  padding: 0.27778em 0.55556em;
  display: inline-block;
  width: 100%;
  border-radius: 0;
}
/* line 77, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.country-codes-container a:focus, .country-codes-container a:hover {
  outline: none;
  background-color: #5771ff;
  color: #fff;
}

/* line 86, ../../../scss/desktop/reg/drop-down/_drop-down-country-code.scss */
.country-code-highlight {
  background-color: #5771ff;
  color: #fff;
}

/* line 1, ../../../scss/desktop/reg/drop-down/_flags.scss */
.fl-wrapper {
  width: 26px;
  padding-right: 10px;
}

/* line 10, ../../../scss/desktop/reg/drop-down/_flags.scss */
[class^="flag"] {
  display: inline-block;
  width: 16px;
  height: 11px;
  background-image: url("../../../images/desktop/reg/flags.png");
  background-repeat: no-repeat;
}

/* line 18, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-zw {
  background-position: 0px 0px;
}

/* line 19, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-zm {
  background-position: -16px 0px;
}

/* line 20, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-za {
  background-position: 0px -11px;
}

/* line 21, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-yt {
  background-position: -16px -11px;
}

/* line 22, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ye {
  background-position: -32px 0px;
}

/* line 23, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ws {
  background-position: -32px -11px;
}

/* line 24, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-wf {
  background-position: 0px -22px;
}

/* line 25, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-wales {
  background-position: -16px -22px;
}

/* line 26, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-vu {
  background-position: -32px -22px;
}

/* line 27, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-vn {
  background-position: 0px -33px;
}

/* line 28, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-vi {
  background-position: -16px -33px;
}

/* line 29, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-vg {
  background-position: -32px -33px;
}

/* line 30, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ve {
  background-position: -48px 0px;
}

/* line 31, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-vc {
  background-position: -48px -11px;
}

/* line 32, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-va {
  background-position: -48px -22px;
}

/* line 33, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-uz {
  background-position: -48px -33px;
}

/* line 34, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-uy {
  background-position: 0px -44px;
}

/* line 35, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-us {
  background-position: -16px -44px;
}

/* line 36, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-um {
  background-position: -16px -44px;
}

/* line 37, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ug {
  background-position: -32px -44px;
}

/* line 38, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ua {
  background-position: -48px -44px;
}

/* line 39, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tz {
  background-position: -64px 0px;
}

/* line 40, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tw {
  background-position: -64px -11px;
}

/* line 41, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tv {
  background-position: -64px -22px;
}

/* line 42, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tt {
  background-position: -64px -33px;
}

/* line 43, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tr {
  background-position: -64px -44px;
}

/* line 44, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-to {
  background-position: 0px -55px;
}

/* line 45, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tn {
  background-position: -16px -55px;
}

/* line 46, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tm {
  background-position: -32px -55px;
}

/* line 47, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tl {
  background-position: -48px -55px;
}

/* line 48, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tk {
  background-position: -64px -55px;
}

/* line 49, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tj {
  background-position: 0px -66px;
}

/* line 50, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-th {
  background-position: -16px -66px;
}

/* line 51, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tg {
  background-position: -32px -66px;
}

/* line 52, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tf {
  background-position: -48px -66px;
}

/* line 53, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-td {
  background-position: -64px -66px;
}

/* line 54, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-tc {
  background-position: -80px 0px;
}

/* line 55, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sz {
  background-position: -80px -11px;
}

/* line 56, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sy {
  background-position: -80px -22px;
}

/* line 57, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sx {
  background-position: -80px -33px;
}

/* line 58, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sv {
  background-position: -80px -44px;
}

/* line 59, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-st {
  background-position: -80px -55px;
}

/* line 60, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ss {
  background-position: -80px -66px;
}

/* line 61, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sr {
  background-position: 0px -77px;
}

/* line 62, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-so {
  background-position: -16px -77px;
}

/* line 63, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sn {
  background-position: -32px -77px;
}

/* line 64, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sm {
  background-position: -48px -77px;
}

/* line 65, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sl {
  background-position: -64px -77px;
}

/* line 66, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sk {
  background-position: -80px -77px;
}

/* line 67, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-si {
  background-position: -96px 0px;
}

/* line 68, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sh {
  background-position: -96px -11px;
}

/* line 69, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sg {
  background-position: -96px -22px;
}

/* line 70, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-se {
  background-position: -96px -33px;
}

/* line 71, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sd {
  background-position: -96px -44px;
}

/* line 72, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-scotland {
  background-position: -96px -55px;
}

/* line 73, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sc {
  background-position: -96px -66px;
}

/* line 74, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sb {
  background-position: -96px -77px;
}

/* line 75, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sa {
  background-position: 0px -88px;
}

/* line 76, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-rw {
  background-position: -16px -88px;
}

/* line 77, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ru {
  background-position: -32px -88px;
}

/* line 78, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-rs {
  background-position: -48px -88px;
}

/* line 79, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ro {
  background-position: -64px -88px;
}

/* line 80, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-qa {
  background-position: -80px -88px;
}

/* line 81, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-py {
  background-position: -96px -88px;
}

/* line 82, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pw {
  background-position: 0px -99px;
}

/* line 83, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pt {
  background-position: -16px -99px;
}

/* line 84, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ps {
  background-position: -32px -99px;
}

/* line 85, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pr {
  background-position: -48px -99px;
}

/* line 86, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pn {
  background-position: -64px -99px;
}

/* line 87, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pm {
  background-position: -80px -99px;
}

/* line 88, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pl {
  background-position: -96px -99px;
}

/* line 89, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pk {
  background-position: -112px 0px;
}

/* line 90, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ph {
  background-position: -112px -11px;
}

/* line 91, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pg {
  background-position: -112px -22px;
}

/* line 92, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pf {
  background-position: -112px -33px;
}

/* line 93, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pe {
  background-position: -112px -44px;
}

/* line 94, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-pa {
  background-position: -112px -55px;
}

/* line 95, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-om {
  background-position: -112px -66px;
}

/* line 96, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-nz {
  background-position: -112px -77px;
}

/* line 97, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-nu {
  background-position: -112px -88px;
}

/* line 98, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-nr {
  background-position: -112px -99px;
}

/* line 99, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-no {
  background-position: 0px -110px;
}

/* line 100, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bv {
  background-position: 0px -110px;
}

/* line 101, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-sj {
  background-position: 0px -110px;
}

/* line 102, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-nl {
  background-position: -16px -110px;
}

/* line 103, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ni {
  background-position: -32px -110px;
}

/* line 104, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ng {
  background-position: -48px -110px;
}

/* line 105, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-nf {
  background-position: -64px -110px;
}

/* line 106, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ne {
  background-position: -80px -110px;
}

/* line 107, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-nc {
  background-position: -96px -110px;
}

/* line 108, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-na {
  background-position: -112px -110px;
}

/* line 109, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mz {
  background-position: -128px 0px;
}

/* line 110, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-my {
  background-position: -128px -11px;
}

/* line 111, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mx {
  background-position: -128px -22px;
}

/* line 112, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mw {
  background-position: -128px -33px;
}

/* line 113, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mv {
  background-position: -128px -44px;
}

/* line 114, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mu {
  background-position: -128px -55px;
}

/* line 115, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mt {
  background-position: -128px -66px;
}

/* line 116, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ms {
  background-position: -128px -77px;
}

/* line 117, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mr {
  background-position: -128px -88px;
}

/* line 118, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mq {
  background-position: -128px -99px;
}

/* line 119, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mp {
  background-position: -128px -110px;
}

/* line 120, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mo {
  background-position: 0px -121px;
}

/* line 121, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mn {
  background-position: -16px -121px;
}

/* line 122, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mm {
  background-position: -32px -121px;
}

/* line 123, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ml {
  background-position: -48px -121px;
}

/* line 124, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mk {
  background-position: -64px -121px;
}

/* line 125, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mh {
  background-position: -80px -121px;
}

/* line 126, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mg {
  background-position: -96px -121px;
}

/* line 127, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-me {
  background-position: 0px -132px;
  width: 16px;
  height: 12px;
}

/* line 128, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-md {
  background-position: -112px -121px;
}

/* line 129, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mc {
  background-position: -128px -121px;
}

/* line 130, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ma {
  background-position: -16px -132px;
}

/* line 131, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ly {
  background-position: -32px -132px;
}

/* line 132, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-lv {
  background-position: -48px -132px;
}

/* line 133, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-lu {
  background-position: -64px -132px;
}

/* line 134, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-lt {
  background-position: -80px -132px;
}

/* line 135, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ls {
  background-position: -96px -132px;
}

/* line 136, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-lr {
  background-position: -112px -132px;
}

/* line 137, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-lk {
  background-position: -128px -132px;
}

/* line 138, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-li {
  background-position: -144px 0px;
}

/* line 139, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-lc {
  background-position: -144px -11px;
}

/* line 140, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-lb {
  background-position: -144px -22px;
}

/* line 141, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-la {
  background-position: -144px -33px;
}

/* line 142, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-kz {
  background-position: -144px -44px;
}

/* line 143, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ky {
  background-position: -144px -55px;
}

/* line 144, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-kw {
  background-position: -144px -66px;
}

/* line 145, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-kr {
  background-position: -144px -77px;
}

/* line 146, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-kp {
  background-position: -144px -88px;
}

/* line 147, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-kn {
  background-position: -144px -99px;
}

/* line 148, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-km {
  background-position: -144px -110px;
}

/* line 149, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ki {
  background-position: -144px -121px;
}

/* line 150, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-kh {
  background-position: -144px -132px;
}

/* line 151, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-kg {
  background-position: 0px -144px;
}

/* line 152, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ke {
  background-position: -16px -144px;
}

/* line 153, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-jp {
  background-position: -32px -144px;
}

/* line 154, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-jo {
  background-position: -48px -144px;
}

/* line 155, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-jm {
  background-position: -64px -144px;
}

/* line 156, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-je {
  background-position: -80px -144px;
}

/* line 157, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-it {
  background-position: -96px -144px;
}

/* line 158, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-is {
  background-position: -112px -144px;
}

/* line 159, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ir {
  background-position: -128px -144px;
}

/* line 160, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-iq {
  background-position: -144px -144px;
}

/* line 161, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-io {
  background-position: -160px 0px;
}

/* line 162, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-in {
  background-position: -160px -11px;
}

/* line 163, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-im {
  background-position: -160px -22px;
  width: 16px;
  height: 9px;
}

/* line 164, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-il {
  background-position: -160px -31px;
}

/* line 165, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ie {
  background-position: -160px -42px;
}

/* line 166, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-id {
  background-position: -160px -53px;
}

/* line 167, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-hu {
  background-position: -160px -64px;
}

/* line 168, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ht {
  background-position: -160px -75px;
}

/* line 169, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-hr {
  background-position: -160px -86px;
}

/* line 170, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-hn {
  background-position: -160px -97px;
}

/* line 171, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-hk {
  background-position: -160px -108px;
}

/* line 172, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gy {
  background-position: -160px -119px;
}

/* line 173, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gw {
  background-position: -160px -130px;
}

/* line 174, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gu {
  background-position: -160px -141px;
}

/* line 175, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gt {
  background-position: 0px -155px;
}

/* line 176, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gs {
  background-position: -16px -155px;
}

/* line 177, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gr {
  background-position: -32px -155px;
}

/* line 178, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gq {
  background-position: -48px -155px;
}

/* line 179, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gp {
  background-position: -64px -155px;
}

/* line 180, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gn {
  background-position: -80px -155px;
}

/* line 181, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gm {
  background-position: -96px -155px;
}

/* line 182, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gl {
  background-position: -112px -155px;
}

/* line 183, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gi {
  background-position: -128px -155px;
}

/* line 184, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gh {
  background-position: -144px -155px;
}

/* line 185, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gg {
  background-position: -160px -155px;
}

/* line 186, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ge {
  background-position: -176px 0px;
}

/* line 187, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gd {
  background-position: -176px -11px;
}

/* line 188, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gb {
  background-position: -176px -22px;
}

/* line 189, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-uk {
  background-position: -176px -22px;
}

/* line 190, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ga {
  background-position: -176px -33px;
}

/* line 191, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-fr {
  background-position: -176px -44px;
}

/* line 192, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-gf {
  background-position: -176px -44px;
}

/* line 193, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-re {
  background-position: -176px -44px;
}

/* line 194, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-mf {
  background-position: -176px -44px;
}

/* line 195, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bl {
  background-position: -176px -44px;
}

/* line 196, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-fo {
  background-position: -176px -55px;
}

/* line 197, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-fm {
  background-position: -176px -66px;
}

/* line 198, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-fk {
  background-position: -176px -77px;
}

/* line 199, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-fj {
  background-position: -176px -88px;
}

/* line 200, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-fi {
  background-position: -176px -99px;
}

/* line 201, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-fam {
  background-position: -176px -110px;
}

/* line 202, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-eu {
  background-position: -176px -121px;
}

/* line 203, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-et {
  background-position: -176px -132px;
}

/* line 204, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-es {
  background-position: -176px -143px;
}

/* line 205, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-er {
  background-position: -176px -154px;
}

/* line 206, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-england {
  background-position: 0px -166px;
}

/* line 207, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-eh {
  background-position: -16px -166px;
}

/* line 208, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-eg {
  background-position: -32px -166px;
}

/* line 209, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ee {
  background-position: -48px -166px;
}

/* line 210, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ec {
  background-position: -64px -166px;
}

/* line 211, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-dz {
  background-position: -80px -166px;
}

/* line 212, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-do {
  background-position: -96px -166px;
}

/* line 213, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-dm {
  background-position: -112px -166px;
}

/* line 214, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-dk {
  background-position: -128px -166px;
}

/* line 215, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-dj {
  background-position: -144px -166px;
}

/* line 216, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-de {
  background-position: -160px -166px;
}

/* line 217, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cz {
  background-position: -176px -166px;
}

/* line 218, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cy {
  background-position: 0px -177px;
}

/* line 219, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cx {
  background-position: -16px -177px;
}

/* line 220, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cw {
  background-position: -32px -177px;
}

/* line 221, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cv {
  background-position: -48px -177px;
}

/* line 222, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cu {
  background-position: -64px -177px;
}

/* line 223, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cs {
  background-position: -80px -177px;
}

/* line 224, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cr {
  background-position: -96px -177px;
}

/* line 225, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-co {
  background-position: -112px -177px;
}

/* line 226, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cn {
  background-position: -128px -177px;
}

/* line 227, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cm {
  background-position: -144px -177px;
}

/* line 228, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cl {
  background-position: -160px -177px;
}

/* line 229, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ck {
  background-position: -176px -177px;
}

/* line 230, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ci {
  background-position: -192px 0px;
}

/* line 231, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cg {
  background-position: -192px -11px;
}

/* line 232, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cf {
  background-position: -192px -22px;
}

/* line 233, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cd {
  background-position: -192px -33px;
}

/* line 234, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-cc {
  background-position: -192px -44px;
}

/* line 235, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-catalonia {
  background-position: -192px -55px;
}

/* line 236, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ca {
  background-position: -192px -66px;
}

/* line 237, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bz {
  background-position: -192px -77px;
}

/* line 238, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-by {
  background-position: -192px -88px;
}

/* line 239, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bw {
  background-position: -192px -99px;
}

/* line 240, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bt {
  background-position: -192px -110px;
}

/* line 241, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bs {
  background-position: -192px -121px;
}

/* line 242, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-br {
  background-position: -192px -132px;
}

/* line 243, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bq {
  background-position: -192px -143px;
}

/* line 244, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bo {
  background-position: -192px -154px;
}

/* line 245, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bn {
  background-position: -192px -165px;
}

/* line 246, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bm {
  background-position: -192px -176px;
}

/* line 247, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bj {
  background-position: 0px -188px;
}

/* line 248, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bi {
  background-position: -16px -188px;
}

/* line 249, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bh {
  background-position: -32px -188px;
}

/* line 250, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bg {
  background-position: -48px -188px;
}

/* line 251, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bf {
  background-position: -64px -188px;
}

/* line 252, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-be {
  background-position: -80px -188px;
}

/* line 253, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bd {
  background-position: -96px -188px;
}

/* line 254, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-bb {
  background-position: -112px -188px;
}

/* line 255, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ba {
  background-position: -128px -188px;
}

/* line 256, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-az {
  background-position: -144px -188px;
}

/* line 257, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ax {
  background-position: -160px -188px;
}

/* line 258, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-aw {
  background-position: -176px -188px;
}

/* line 259, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-au {
  background-position: -192px -188px;
}

/* line 260, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-hm {
  background-position: -192px -188px;
}

/* line 261, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-at {
  background-position: -208px 0px;
}

/* line 262, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-as {
  background-position: -208px -11px;
}

/* line 263, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ar {
  background-position: -208px -22px;
}

/* line 264, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ao {
  background-position: -208px -33px;
}

/* line 265, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-an {
  background-position: -208px -44px;
}

/* line 266, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-am {
  background-position: -208px -55px;
}

/* line 267, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-al {
  background-position: -208px -66px;
}

/* line 268, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ai {
  background-position: -208px -77px;
}

/* line 269, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ag {
  background-position: -208px -88px;
}

/* line 270, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-af {
  background-position: -208px -99px;
}

/* line 271, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ae {
  background-position: -208px -110px;
}

/* line 272, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ad {
  background-position: -208px -121px;
}

/* line 273, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-np {
  background-position: -208px -132px;
  width: 9px;
  height: 11px;
}

/* line 274, ../../../scss/desktop/reg/drop-down/_flags.scss */
.flag-ch {
  background-position: -208px -143px;
  width: 11px;
  height: 11px;
}
